# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
ci/linux/build
ci/macos/build
ci/windows/build
CMakeFiles
*.tar.gz

cmake_install.cmake
CMakeCache.txt
Makefile
cmake_install.cmake
cmake_uninstall.cmake
*_autogen
ci/obs-studio

.DS_Store

### VisualStudioCode ###
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets